body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
}

.container{
  text-align: center;
  
}

input {
  
  padding: 20px 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.progress-bar {
  height: 20px;
  margin-top:20px;
  width:0;
}

.progress{
  background-color: red;
  width: 100%;
}

.feedback {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.progress-red {
  height: 100%;
  background-color: red;
}

.progress-orange {
  height: 100%;
  background-color: orange;
}

.progress-green {
  height: 100%;
  background-color: green;
}